:root {
    --corPadrao: #BD93F9;
    --corPadraoMix: color-mix(in srgb, var(--corPadrao) 80%, white);
    --bgPrimary: #191f31;
    --bgPrimaryMix: color-mix(in srgb, var(--bgPrimary) 60%, white);
    --bgSecondary: #1f2639;
    --bgSecondaryMix: color-mix(in srgb, var(--bgSecondary) 93%, white);
    --bgTertiary: #4a5571;
    --bgTertiaryMix: color-mix(in srgb, var(--bgTertiary) 60%, black);
    --corBtn: #31d2f2;
    --corBtnHover: #017586;
    --bgComent: #6272A4;
    --bgComentMix: color-mix(in srgb, var(--bgComent) 60%, var(--bgSecondary));
    --fontColor: rgba(255, 255, 255, 0.8);
    --fontColor2: #9B9B9B;
    --fontColorHover: #495057;
    --fontFamily: 'Nunito', sans-serif;    
    --gray: #4a5571;
    --grayMix: color-mix(in srgb, var(--gray) 90%, white);
    --border: #4a5571;
    --purple: #BD93F9;
    --purpleRgb: 189, 147, 249;
    --cyan: #8BE9FD;
    --blue: #68b9ff;
    --orange: #ff8a16;
    --green: #50fa7b;
    --greenDark: #53a653;
    --greenDark2: #2f613c;
    --red: #FF4455;
    --redDark: #910a4e;
    --pxBarra: 5px;
    --pink: #e685b5;
    --yellow: #FFEB3B;
    --yellowClaro: #f1fa8c; 
}

[data-bs-theme=light] {
    --corPadrao: #BD93F9;
    --corPadraoMix: color-mix(in srgb, var(--corPadrao) 80%, white); 
    --bgPrimary: #efeeee;
    --bgPrimaryMix: color-mix(in srgb, var(--bgPrimary) 60%, white);
    --bgSecondary: #dee2e6;
    --bgSecondaryMix: color-mix(in srgb, var(--bgSecondary) 93%, black);
    --bgTertiary: #d1dceb ;
    --bgTertiaryMix: color-mix(in srgb, var(--bgTertiary) 60%, white);
    --corBtn: #31d2f2;
    --corBtnHover: #017586;
    --bgComent: #bcc8d9;
    --bgComentMix: color-mix(in srgb, var(--bgComent) 60%, white);
    --fontColor: #4a5571;
    --fontColor2: #000;
    --fontColorHover: #495057;
    --fontFamily: 'Nunito', sans-serif;
    --gray: #d1dceb;
    --grayMix: color-mix(in srgb, var(--gray) 90%, black);
    --border: #d1dceb;
    --purple: #BD93F9;
    --purpleRgb: 189, 147, 249;
    --cyan: #8BE9FD;
    --blue: #3388d3;
    --orange: #ff8a16;
    --green: #53a653;
    --greenDark: #50fa7b;
    --greenDark2: #3b774b;
    --red: #FF4455;
    --redDark: #c01068;
    --pxBarra: 5px;
    --pink: #d63384;
    --yellow: #FFEB3B;
    --yellowClaro: #FF9;   
}

.light {
    --green: #23D1AE;
    --greenDark: #167e69;
}

*::-webkit-scrollbar-track {
    background-color: var(--bgTertiary);
}

*::-webkit-scrollbar {
    width: var(--pxBarra);
    background: var(--bgTertiary);
}

*::-webkit-scrollbar-thumb {
    background: var(--corPadrao);
}

*::-webkit-scrollbar-corner {
    background: var(--corPadrao);
}

/**{direction: rtl;}*/

::selection {
    background-color: var(--corPadrao);
    color: var(--fontColor);
}

.texto-data div {
    /*Flexa solicitação*/
    color: var(--bgSecondary) !important;
}

#barrabuttom,
.online,
#recado_orasystems,
hr {
    display: none;
}

#tktTable hr {
    display: block;
    margin: 10px 0;
    border-color: var(--corPadrao);
}

#diasAberto {
    font-weight: bold;
}

#icoInfo {
    fill: diasAberto
}

a {
    color: var(--blue) !important;
}

a:hover,
a:focus {
    color: var(--orange) !important;
}

body {
    background: var(--bgPrimary) !important;
    border-color: var(--border) !important;
    color: var(--corPadrao) !important;
    padding: 70px 0 0 0 !important;
    font-family: var(--fontFamily) !important;
}

/*img {
    max-width: 100% !important;
    height: auto !important;
}*/
input,
button,
select {
    height: 30px !important;
    background: var(--bgTertiary) !important;
    border: 1px solid var(--border) !important;
    color: var(--fontColor) !important;

    &:hover {
        background: var(--bgSecondary) !important;
    }
}

p {
    color: var(--fontColor) !important;
    background: transparent !important;
}

textarea {
    background: var(--bgTertiary) !important;
    border: 1px solid var(--border) !important;
    color: var(--fontColor) !important;
}

input[type="submit"]:hover,
button:hover {
    background: var(--bgSecondary) !important;
}

input[type="radio"],
input[type="checkbox"] {
    height: 15px !important;
    width: 15px !important;
    appearance: none;
    background: var(--bgTertiary) !important;
    margin: 0;

    &:focus {
        outline: none !important;
    }

    &:checked {
        appearance: auto;
        accent-color: var(--corPadrao) !important;
    }
}

input::file-selector-button {
    height: 25px;
    background: var(--bgTertiary);
    color: var(--fontColor2);
    border: 1px solid var(--border);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"] {
    border-radius: 2px;
}

input[type="file"] {
    height: auto !important;
}

input[type="image"] {
    height: auto !important;
    background: transparent !important;
    border: none !important;
}

.PrioridadeOK{
    background: var(--corPadrao);
}

.roundcornerstop {
    background: transparent !important;
    border-top: 1px solid var(--border) !important;
}

.roundcornersbottom {
    background: transparent !important;
    border-bottom: 1px solid var(--border) !important;
}

.roundcornersleft {
    background: transparent !important;
    border-left: 1px solid var(--border) !important;
}

.roundcornersright {
    background: transparent !important;
    border-right: 1px solid var(--border) !important;
}

div#view2 {
    height: 360px;
}

.inputMenu {
    height: 35px !important;
    border: var(--border) 1px solid !important;
    background: var(--bgPrimary) !important;
    text-shadow: none !important;
    color: var(--fontColor) !important;
    font-size: 12px !important;
}

.itemMenu {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    color: var(--fontColor) !important;
}

.btn-default {
    background: transparent;
    text-shadow: none !important;

    &::hover {
        background: var(--bgPrimaryMix) !important;
    }
}

.dropdown-menu {
    background: var(--bgSecondary) !important;
}

.dropdown-menu>li>a {
    color: var(--fontColor) !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background: var(--bgPrimaryMix) !important;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background: var(--bgSecondary) !important;
}

.table>thead>tr>.danger,
.table>tbody>tr>.danger,
.table>tfoot>tr>.danger,
.table>thead>.danger>td,
.table>tbody>.danger>td,
.table>tfoot>.danger>td,
.table>thead>.danger>th,
.table>tbody>.danger>th,
.table>tfoot>.danger>th {
    background: var(--bgComent) !important;
}

.texto-data {
    /*Cor flexinha solicitação*/
    color: #4a5571 !important;
}

.titleAgrup{
    background: var(--gray) !important;
    margin: 0;
    padding: 4px;
    border-top: solid 1px var(--bgTertiary);
    position: sticky;
    top: 57px;
    z-index: 2;
}

td {
    color: var(--fontColor) !important;
}

table.white {
    background: var(--bgSecondary) !important;
    /*color: var(--fontColor) !important;
     border-collapse: separate !important; */
}
table.white th { /*Cabeçalho Tabela*/
    border-color: var(--border) !important;
    background: var(--grayMix) !important;
    color: var(--fontColor) !important;
}
table.white th a{
    color: var(--fontColor) !important;
}

td.admin_white,td.admin_gray{
    background: transparent !important;
    border: var(--border) 0.5px solid !important;
    color: var(--fontColor) !important;
}

table.white > tbody > tr:first-child:first-child{ 
    background: var(--bgComentMix) !important;
    position: sticky;
    top: 60px;
    z-index: 2;
}

form[name="form1"] table.white > tbody > tr:first-child:first-child{
    top: 83px;
}

table.white > tbody > tr:first-child:first-child > th{ /*Cabeçalho Tabela*/
    border-bottom: 2px solid var(--corPadrao);
}

table.white > tbody > tr:nth-of-type(odd) { /*Cor alternada Tabela*/
    background: var(--bgSecondaryMix);
}



table.white tr:hover {
    background: var(--bgComentMix) !important;
}

td.admin_gray tr:hover {
    background: var(--bgComentMix) !important;
}


table.enclosing {
    background: var(--bgPrimary) !important;
    color: var(--fontColor) !important;
}

table.enclosing,
table.header {
    font-size: 0.9em !important;
    padding: 0 !important;
    margin: 0 !important;
}

table.enclosing {
    background: var(--bgPrimary) !important;
}

table.enclosing .marker {
    background: var(--yellow);
    padding: 0 2px;
    color: var(--redDark) !important;
}

table.enclosing code {
    color: var(--pink) !important;
    background: var(--bgPrimary) !important;
}

div.notice {
    border: 1px solid var(--bgComent);
}

table.header,
.navbar-collapse {
}
.menu{
    background: var(--bgSecondaryMix) !important;
    color: var(--fontColor) !important;
    border-bottom: var(--corPadrao) 4px solid !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

table.header td {
    padding: 0 10px 0 0;
}

.andamento {
    /*Aguardando resposta*/
    background: var(--yellowClaro) !important;
    color: var(--redDark) !important; 
    border: none !important;
}
td.admin_critical {
    /*Aguardando resposta*/
    background: rgba(var(--purpleRgb), .6) !important;
    /* border-color: var(--purple) !important; */
    border: none !important;
}

td.admin_actived {
    background:  var(--greenDark) !important;
    border: none !important;
}

td.notes {
    background: var(--pink) !important;
    color: var(--fontColor) !important;
    border-color: var(--redDark) !important;
}

#setasMenu {
    display: flex !important;
}

.descricao_sol,
.versao-sistema,
div.success {
    background: var(--greenDark) !important;
    border-color: var(--green) !important;
    color: var(--fontColor) !important;
}

.chMenu {
    display: grid;
    align-items: center;
    margin-left: 10px;
    border: 1px solid #4a5571;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    background: var(--bgTertiary);
}
.chMenu2 {
    display: grid;
    grid-template-columns: 35px 1fr;
    text-align: left;
    border: 1px solid #4a5571;
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
    font-size: 0.8em;
    background: var(--bgTertiary);
    white-space: nowrap;
    overflow: hidden;
    font-size: clamp(10px, 2vw, 10px);
}
#interacoesTicket {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: 23px auto;
    grid-auto-flow: column;
    max-height: 360px;
    overflow-y: scroll;
    border: 1px solid var(--corPadrao);
    padding: 10px;
}

.col-md-12,
.row {
    padding: 0 !important;
    margin: 0 !important;
}

ul.tabs li a {
    background: var(--bgSecondary) !important;

    &::hover {
        background: var(--bgTertiary) !important;
    }
}

ul.tabs li.selected a {
    background: var(--bgTertiary) !important;
}

.copiado {
    background-color: var(--corPadrao) !important;
    transition: background-color 0.3s ease;
}

#recadoNovo {
    color: var(--fontColor) !important;
}

.jumbHelp {
    background: var(--bgSecondary) !important;
    color: var(--fontColor) !important;
    position: fixed;
    width: 80%;
    transform: translateY(-50%) translateX(13%);
    top: 50%;
    border: 1px solid;
    overflow-y:
        scroll;
    max-height: 82vh;
    padding: 10px 30px;
    font-size: 1em;
    z-index: 2;
}

.jumbHelp img {
    width: 30px;
    position: fixed;
    right: 10px;
    cursor: pointer;
}



/*Text area chamados*/
.cke_chrome {
    border: 1px solid var(--border) !important;
}

.cke_top,
.cke_bottom {
    box-shadow: none !important;
    background: var(--bgPrimary) !important;
    border-color: var(--border) !important;
}

a.cke_button,
a.cke_combo_button {
    background: var(--bgTertiary) !important;
}

.cke_combo_text {
    color: #000 !important;
    text-shadow: none !important;
}

.cke_button__subscript_icon {
    background: transparent !important;
}

.cke_toolbar_separator {
    display: none !important;
}

.cke_wysiwyg_frame, .cke_wysiwyg_frame html, .cke_wysiwyg_div {
    background: var(--bgSecondary) !important;
    color: var(--fontColor) !important;
}

.cke_combo_off a.cke_combo_button:active, 
.cke_combo_on a.cke_combo_button, 
.cke_combo_off a.cke_combo_button:hover, 
.cke_combo_off a.cke_combo_button:focus {
    border: 1px solid #777 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .6) inset !important;
    background: #b5b5b5 !important;
    background-image: linear-gradient(to bottom, var(--bg), var(--bgPrimary)) !important;
}

a.cke_button_off:hover, 
a.cke_button_off:focus, 
a.cke_button_off:active, 
a.cke_button_disabled:hover, 
a.cke_button_disabled:focus, 
a.cke_button_disabled:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset !important;
    background-image: linear-gradient(to bottom, var(--bgComent), var(--bgSecondary)) !important;
}

a.cke_path_item,
span.cke_path_empty {
    text-shadow: none !important;
    color: var(--fontColor) !important;
}


.resolved, .success, #fichaobrigatoria_resultado { color: var(--green) !important; }

.error, .important, .assignedyou,
.rate, /*O cliente não leu esta resposta ainda*/
.open, /*Chamado Novo */
.waitingreply, /*Aquardando Resposta*/
.red { color: var(--red) !important; }

.analysis, .notice, .medium { color: var(--orange) !important; }

.replied { color: var(--blue) !important; }

#ok { border-color: var(--green) !important; }

.critical { color: var(--purple) !important; }

h1 { color: var(--green) !important; }

.ticketalt { /* Mensagem Chamado */
    background: var(--bgTertiary) !important;
    color: var(--fontColor) !important;
}
.ticketalt div div {
    background-color: #4a5571 !important;
    border-color: var(--corPadrao) !important;
}
.ticketrow { /* Mensagem Chamado */
    background: var(--bgSecondary) !important;
    color: var(--fontColor) !important;
    border: 1px dotted var(--bgTertiary) !important;
}
.ticketrow div div {
    /*Div de campo de codigo*/
    background-color: var(--bgPrimary) !important;
    border-color: var(--corPadrao) !important;
}

.optionWhiteON {
    background: var(--bgPrimary) !important;
    color: var(--fontColor) !important;
    border: none !important;
    width: 25px;
}
.optionWhiteOFF {
    background: var(--bgPrimaryMix) !important;
    color: var(--fontColor) !important;
    border: none !important;
    width: 25px;
}
.optionBlueON {
    border: none !important;
    background: var(--bgPrimary) !important;
    width: 25px;
}
.optionBlueOFF {
    background: var(--bgPrimaryMix) !important;
    border: none !important;
    width: 25px;
}